%form#new-question
  .row
    .small-12.columns
      %label Add Question
      %input#title{ :type => "text" }
  .row
    .small-12.columns
      %label Details
      #wsyiwyg-control
        %input.basic#bold{ :type => "button", :value => "B"}
        %input.basic#underline{ :type => "button", :value => "U"}
        %input.basic#italic{ :type => "button", :value => "I"}
        %input.advanced#text-size{ :type => "button", :value => "Text Size"}
        %input.andvanced#text-color{ :type => "button", :value => "Text Color"}
        %input.advanced#link{ :type => "button", :value => "Link"}
        %input.advanced#unlink{ :type => "button", :value => "Unlink"}
        %input.basic-button#horizontal-rule{ :type => "button", :value => "HR"}
        %input.advanced#unordered-list{ :type => "button", :value => "UL"}
        %input.advanced#ordered-list{ :type => "button", :value => "OL"}
        %input.advanced#code{ :type => "button", :value => "<>"}
      %textarea#hidden-text-area{ :style => "display: none;" }
      %iframe#richTextField{ :name => "richTextField"}
  .row
    .small-12.columns
      %label Add Tags
      %input#tag-list{ :type => "text", :placeholder => "Comma Separated" }
  .row
    .small-12.columns
      %input.button.submit-question{ :value => "Add Question", :type => "button"}
   

    -# = form_for @question do |f|
    -#   -# = f.hidden_field :user_id, current_user.id
    -#   .form.title
    -#     = f.label :title
    -#     = f.text_field :title
    -#   .form.content
    -#     = f.cktext_area :content, rows: 10
    -#   .form.tags
    -#     = f.label :tag_list, 'Add Tags'
    -#     = f.text_field :tag_list, :placeholder => "comma separated"
    -#   .form.btn
    -#     = f.submit 'Submit Question', class: 'button submit-question'

