%form
  #new-question
    .row
      .small-12.columns.form-element-container
        %input#title{ :autofocus => "", :type => "text", :placeholder => "What is your question?" }
    .row
      .small-12.columns.form-element-container#add-question-control
        #wysiwyg-control
          %a.basic-control#bold-button{ :name => "bold" }
            %i.fi-bold
          %a.basic-control#underline-button{ :name => "underline" }
            %i.fi-underline
          %a.basic-control#italic-button{ :name => "italic" }
            %i.fi-italic
          %a.advanced-control#text-color-button{ :name => "text-color" }
            %i.fi-text-color
          %a.advanced-control#link-button{ :name => "link" }
            %i.fi-link
          %a.basic-control#unlink-button{ :name => "unlink" }
            %i.fi-unlink
          %a.basic-control#horizontal-rule-button{ :name => "insertHorizontalRule" } 
            %i HR
          %a.advanced-control#unordered-list-button{ :name => "unordered-list" }
            %i.fi-list-bullet
          %a.advanced-control#ordered-list-button{ :name => "ordered-list" }
            %i.fi-list-number
          %a.advanced-control#code-button{ :name => "code" }
            %i <>
        %textarea#hidden-text-area{ :style => "display: none;" }
        .iframe-container
          %iframe.richTextField#add-question-iframe{ :name => "richTextField"}
    .row
      .small-12.columns.form-element-container
        %input#tag-list{ :type => "text", :placeholder => "Add Tags (comma separated)" }
    .row
      .small-12.columns#submit-container
        %input.button.small#submit-question{ :value => "Add Question", :type => "button"}

     
