%form
  #new-question
    .row
      .small-12.columns
        %label Add Question
        %input#title{ :type => "text" }
    .row
      .small-12.columns
        %label Details
        %ul#wsyiwyg-control
          %li.basic-control#bold-button{ :name => "bold" }
            %i.fi-bold
          %li.basic-control#underline-button{ :name => "underline" }
            %i.fi-underline
          %li.basic-control#italic-button{ :name => "italic" }
            %i.fi-italic
          %li.advanced-control#text-size-button{ :name => "text-size" }
            %i.fi-text-size
          %li.advanced-control#text-color-button{ :name => "text-color" }
            %i.fi-text-color
          %li.advanced-control#link-button{ :name => "link" }
            %i.fi-link
          %li.basic-control#unlink-button{ :name => "unlink" }
            %i.fi-unlink
          %li.basic-control#horizontal-rule-button{ :name => "insertHorizontalRule" }
            %i HR
          %li.advanced-control#unordered-list-button{ :name => "unordered-list" }
            %i.fi-list-bulleted
          %li.advanced-control#ordered-list-button{ :name => "ordered-list" }
            %i.fi-list-numbered
          %li.advanced-control#code-button{ :name => "code" }
            %i < >
        %textarea#hidden-text-area{ :style => "display: none;" }
        %iframe#richTextField{ :name => "richTextField"}
    .row
      .small-12.columns
        %label Add Tags
        %input#tag-list{ :type => "text", :placeholder => "Comma Separated" }
    .row
      .small-12.columns
        %input.button.submit-question{ :value => "Add Question", :type => "button"}
     
