%form.new-question 
  .row
    .small-12.columns
      %label Add Question
      %input{ :type => "text" }
  .row
    .small-12.columns
      %label Details
      %textarea
  .row
    .small-12.columns
      %label Add Tags
      %input{ :type => "text", :placeholder => "Comma Separated" }
  .row
    .small-12.columns
      %a.button{ href: '#'} Add Question
   

    -# = form_for @question do |f|
    -#   -# = f.hidden_field :user_id, current_user.id
    -#   .form.title
    -#     = f.label :title
    -#     = f.text_field :title
    -#   .form.content
    -#     = f.cktext_area :content, rows: 10
    -#   .form.tags
    -#     = f.label :tag_list, 'Add Tags'
    -#     = f.text_field :tag_list, :placeholder => "comma separated"
    -#   .form.btn
    -#     = f.submit 'Submit Question', class: 'button submit-question'

