#wrapper
  .row
    .small-2.columns
    .small-8.small-centered.columns
      - @questions.each do |question| 
        %h1= question.title
        .question-content
          %p= raw question.content
        %button.more-content More
      -#   %p= question.user
      #questions-container 
    .small-2.columns

-# %script{ id: 'questions-tpl', type: 'text/x-handlebars-template'}
-#   %h3 Questions
-#   {{#questions}}
-#   .question-container.index{ id: 'question-{{ id }}', value: '{{ id }}'}
-#     -# %h3 {{{ title }}}
-#     %p {{{ content }}}
-#     .question-user.index{ id: 'user-{{ id }}', value: '{{ id }}'}
-#       -# %p {{user.first_name}}
-#   {{/questions}}
