//HTML

.row
  .small-2.columns
  .small-10.columns
    .row
      .small-1.columns
        .post-vote-container
          .post-vote-total
      .small-11.columns
        .post-container.question{ value: @question.id, :name => @question.user.first_name }
        #add-answer-container
          %button#add-answer-btn Help #{@question.user.first_name} Out
          #answer-editor-container
        .answers-container 

//Handlebars' Templates

%script{ id: 'user-partial', type: 'text/x-handlebars-template'}
  .row
    .small-6.columns
      .post-details.question
    .small-6.columns
      .post-signature-user.question
        .user-image
        .ul.user-details
          %li.user-name
            %h2 {{user.first_name}}
          %li.user-course
            %h3 {{user.ga_course}}
          %li.user-location
            %h3 {{user.location}}
        .submit-date
          %h3 Submitted on {{created_at}}

%script{ id: 'question-tpl', type: 'text/x-handlebars-template'}
  .post-title.question-show
    %h1 {{{ title }}}
  %button#more-content{ value: @question.id} More
  .post-content.question
    %h3 {{{ content }}}
  .row
    .small-6.columns
      .post-details.question
    .small-6.columns
      .post-signature-user.question
        .user-image
        .ul.user-details
          %li.user-name
            %h2 {{user.first_name}}
          %li.user-course
            %h3 {{user.ga_course}}
          %li.user-location
            %h3 {{user.location}}
        .action-time
          %h3 {{updated_at}}
  %button{ id: 'question-comments-btn', :data=>{:id =>'{{id}}'} } Comments
  .post-comments-container.question
    {{#comments}}
    .post-comment-container.question{ id: 'question-comment-{{ id }}'}
      %p {{{ content }}}
      {{>user}} 
    {{/comments}}


  
-# %script{ id: 'question-comments-tpl', type: 'text/x-handlebars-template'}
-#   %h4 Comments
-#   {{#comments}}
-#   .comment-container{ id: 'comment-{{ id }}'}
-#   %p {{ content }}
-#   %p {{user.first_name}} 
-#   {{/comments}}

%script{ id: 'answers-tpl', type: 'text/x-handlebars-template'}
  %h3 Answer
  {{#answers}}
  .post-container.answer{ id: 'answer-{{ id }}', value: '{{ id }}'}
    %p {{{ content }}}
    .post-signature-user.answer
      {{> user }}
  %button{ id: 'answer-comments-btn', :data=>{:id =>'{{id}}'} } Comments
  .post-comments-container.answer{ id: 'answer-comments-{{ id }}'}
    {{#comments}}
    .post-comment-container.anwer{ id: 'answer-comment-{{ id }}'}
      %p {{{ content }}}
      {{> user}}
    {{/comments}} 
  {{/answers}}


  

             
  

-# %script{ id: 'answer-comment-partial', type: 'text/x-handlebars-template'}
-#   {{#comments}}
-#   .comment-container{ id: 'comment-{{ id }}'}
-#   %p {{ content }}
-#   %p {{user.first_name}} 
-#   {{/comments}}

-# %script{ id: 'answer-comments-tpl', type: 'text/x-handlebars-template'}
-#   {{#comments}}
-#   .comment-container{ id: 'comment-{{ id }}'}
-#   %p {{ content }}
-#   %p {{user.first_name}} 
-#   {{/comments}}


 