%h1 Questions#show
%p Find me in app/views/questions/show.html.haml

#question-container{ value: @question.id}
#comments-container
#answers-container
#answer-comments-container

%script{ id: 'question-tpl', type: 'text/x-handlebars-template'}
  .question
    %h1 {{ title }}
    %h3 {{ content }}
    %h3 {{ user.first_name  }}
  
%script{ id: 'question-comments-tpl', type: 'text/x-handlebars-template'}
  %h3 Comments
  {{#comments}}
  .comment-container{ id: 'comment-{{ id }}'}
  %p {{ content }}
  %p {{user.first_name}} 
  {{/comments}}

%script{ id: 'answers-tpl', type: 'text/x-handlebars-template'}
  %h1 Answer
  {{#answers}}
  .answer-container{ id: 'answer-{{ id }}',  value: '{{ id }}'}
  %button
  %p {{ content }}
  %p {{user.first_name}}
  -# %p {{< answer-comment }} 
  {{/answers}}

-# %script{ id: 'answer-comment-partial', type: 'text/x-handlebars-template'}
-#   %h3 Comments
-#   {{#comments}}
-#   .comment-container{ id: 'comment-{{ id }}'}
-#   %p {{ content }}
-#   %p {{user.first_name}} 
-#   {{/comments}}

%script{ id: 'answer-comment-tpl', type: 'text/x-handlebars-template'}
  %h3 Comments
  {{#comments}}
  .comment-container{ id: 'comment-{{ id }}'}
  %p {{ content }}
  %p {{user.first_name}} 
  {{/comments}}


 