
.row
  .small-2.columns
  .small-10.columns
    #question-container{ value: @question.id, :name => @question.user.first_name }
    #add-answer-container
      %button#add-answer-btn Help #{@question.user.first_name} Out
      #answer-editor-container
    #answers-container 

%script{ id: 'question-tpl', type: 'text/x-handlebars-template'}
  .question-title
    %h1 {{{ title }}}
  .question-content
    %h3 {{{ content }}}
  .question-user
    %h4 {{{ user.first_name  }}}
  %button{ id: 'question-comments-btn', :data=>{:id =>'{{id}}'} } Comments
  .question-comments-container
    {{#comments}}
    .question-comment-container{ id: 'question-comment-{{ id }}'}
      %p {{{ content }}}
      %p {{{user.first_name}}} 
    {{/comments}}


  
-# %script{ id: 'question-comments-tpl', type: 'text/x-handlebars-template'}
-#   %h4 Comments
-#   {{#comments}}
-#   .comment-container{ id: 'comment-{{ id }}'}
-#   %p {{ content }}
-#   %p {{user.first_name}} 
-#   {{/comments}}

%script{ id: 'answers-tpl', type: 'text/x-handlebars-template'}
  %h3 Answer
  {{#answers}}
  .answer-container{ id: 'answer-{{ id }}', value: '{{ id }}'}
    %p {{{ content }}}
    .answer-user
      %p {{{user.first_name}}}
  %button{ id: 'answer-comments-btn', :data=>{:id =>'{{id}}'} } Comments
  .answer-comments-container{ id: 'answer-comments-{{ id }}'}
    {{#comments}}
    .answer-comment-container{ id: 'answer-comment-{{ id }}'}
      %p {{{ content }}}
      %p {{{ user.last_name }}}
    {{/comments}}
    -# %p {{> answer-comment}} 
  {{/answers}}
  

             
  

-# %script{ id: 'answer-comment-partial', type: 'text/x-handlebars-template'}
-#   {{#comments}}
-#   .comment-container{ id: 'comment-{{ id }}'}
-#   %p {{ content }}
-#   %p {{user.first_name}} 
-#   {{/comments}}

-# %script{ id: 'answer-comments-tpl', type: 'text/x-handlebars-template'}
-#   {{#comments}}
-#   .comment-container{ id: 'comment-{{ id }}'}
-#   %p {{ content }}
-#   %p {{user.first_name}} 
-#   {{/comments}}


 