%h1 Questions#show
%p Find me in app/views/questions/show.html.haml
#question-container{ value: @question.id}

%script{ id: 'questiontpl', type: 'text/x-handlebars-template'}
  .question
    %h1 {{ title }}
    %h3 {{ content }}
    %h3 {{ user.first_name  }}
  .answers
    %h1 Answer
    {{#answers}}
    %p {{ content }}
    %p {{user.first_name}} 
    {{/answers}}
  
  
 