//HTML

-# .row
-#   .small-1.columns
-#     .feed-container
-#   .small-11.columns
.row.chosen-question
  .small-2.columns
    .post-vote-container.question
  .small-10.columns
    .post-container.question{ value: @question.id, :name => @question.user.first_name, :data=>{:id => @question.user.id}}
    #add-answer-container
      %button#add-answer-btn Help #{@question.user.first_name} Out
      #answer-editor-container
.row.answers-container
      
      
      

//Handlebars ----------------------------------------------

//Partials

%script{ id: 'user-partial', type: 'text/x-handlebars-template'}
  .row
    .small-6.columns
      .post-details.question
    .small-6.columns
      .post-signature-user.question
        %ul.user-details
          %li.user-name {{user.first_name}}
          %li.user-course {{user.ga_course}} 
          %li.user-location {{user.location}} 
        .submit-date
          %h3 Submitted on {{created_at}}

%script{ id: 'comment-partial', type: 'text/x-handlebars-template'}
  .row
    .small-6.columns
      .post-details.show
        %p {{{ content }}}
    .small-6.columns
      .post-signature-user.show
        %h3 By {{user.first_name}} {{user.last_name}} {{created_at}}

// Templates -----------------------------------------------------------------

%script{ id: 'question-tpl', type: 'text/x-handlebars-template'}
  .post-title.question-show
    %h1 {{{ title }}}
  #more-content{ value: @question.id} 
    %a More
  .post-content.question
    %h3 {{{ content }}}
  .row
    .small-6.columns#post-details.question
      %ul.tag-list
        {{#tags}}
        %li.tag
          %a{ href: 'http://localhost:3000/tags/{{name}}'} {{name}}
        {{/tags}}
    .small-6.columns
      .post-signature-user.question
        .user-image
        %ul.user-details
          %li.user-name {{user.first_name}}
          %li.user-course {{user.ga_course}} 
          %li.user-location {{user.location}} 
        .action-time
          %h3 {{updated_at}}
  {{#if comments}}
  %button{ id: 'question-comments-btn', :data=>{:id =>'{{id}}'} } Comments
  .post-comments-container.question
    {{#comments}}
    .post-comment-container.question{ id: 'question-comment-{{ id }}'}
      {{> comment}}
    {{/comments}}
  {{/if}}



%script{ id: 'answers-tpl', type: 'text/x-handlebars-template'}
  {{#if accepted_answer}}
  .answers-heading
    %h3 {{acceptedAnswerTotal sorted_answers}}
  .all-answers
    .small-2.columns.accepted
      .post-vote-container.answer
        .stat.helpful
          .total{id: 'accepted-total'}
          .total-label{id: 'helpful', value: "{{id}}"}
            %a Helpful
          .total-label{id: 'unhelpful'} 
            %a Unhelpful
        .accepted-selector Accepted
    .small-10.columns
      .post-container.answer{ id: 'answer-{{ id }}'}
        %p {{{ content }}}
        .post-signature-user.answer
          {{> user }}
        {{#if comments}}
      %button{ id: 'answer-comments-btn', :data=>{:id =>'{{id}}'} } Comments
      .post-comments-container.answer{ id: 'answer-comments-{{ id }}'}
        {{#comments}}
        .post-comment-container.anwer{ id: 'answer-comment-{{ id }}'}
          {{> comment}}
        {{/comments}}
        {{/if}}
    {{else}}
    .answers-heading
      %h3 {{answerTotal sorted_answers}}
    {{/if}}
    {{#sorted_answers}}
    .all-answers
      .small-2.columns
        .post-vote-container.answer
          {{> answer-voting}}
        .button.accept-selector
      .small-10.columns
        .post-container.answer{ id: 'answer-{{ id }}', :data=>{:id =>'{{id}}'}}
          %p {{{ content }}}
          .post-signature-user.answer
            {{> user }}
          {{#if comments}}
        %button{ id: 'answer-comments-btn', :data=>{:id =>'{{id}}'} } Comments
        .post-comments-container.answer{ id: 'answer-comments-{{ id }}'}
          {{#comments}}
          .post-comment-container.anwer{ id: 'answer-comment-{{ id }}'}
            {{> comment}}
          {{/comments}}
          {{/if}} 
      {{/sorted_answers}}

%script{ id: 'question-voting-tpl', type: 'text/x-handlebars-template'}
  .stat.want-answer
    .total{id: "{{id}}"} {{voteTotal votes}}
    .total-label{id: 'want-answer'} 
      %a Want Answers

%script{ id: 'answer-voting-partial', type: 'text/x-handlebars-template'}
  .stat.helpful
    .total {{voteTotal votes}}
    .total-label{id: 'helpful', value: "{{id}}"}
      %a Helpful
    .total-label{id: 'unhelpful', value: "{{id}}"}
      %a Unhelpful

-# %script{ id: 'tags-tpl', type: 'text/x-handlebars-template'}
-#   %ul.tag-list
-#     {{#tags}}
-#     %li
-#       %a{ href: 'http://localhost:3000/tags/{{name}}'} {{name}}
-#     {{/tags}}
    
      

