.form-element-container 
  .add-answer-editor
    %ul#wsyiwyg-control
      %li.basic-control#bold-button{ :name => "bold" }
        %i.fi-bold
      %li.basic-control#underline-button{ :name => "underline" }
        %i.fi-underline
      %li.basic-control#italic-button{ :name => "italic" }
        %i.fi-italic
      %li.advanced-control#text-color-button{ :name => "text-color" }
        %i.fi-text-color
      %li.advanced-control#link-button{ :name => "link" }
        %i.fi-link
      %li.basic-control#unlink-button{ :name => "unlink" }
        %i.fi-unlink
      %li.basic-control#horizontal-rule-button{ :name => "insertHorizontalRule" } 
        %i HR
      %li.advanced-control#unordered-list-button{ :name => "unordered-list" }
        %i.fi-list-bullet
      %li.advanced-control#ordered-list-button{ :name => "ordered-list" }
        %i.fi-list-number
      %li.advanced-control#code-button{ :name => "code" }
        %i <>
    %textarea.hidden-text-area{ :style => "display: none;" }
    .iframe-container#add-answer-iframe-container
      %iframe.richTextField#add-answer-iframe{ :name => "richTextField"}
    .buttons-container
      %input.button.tiny#nevermind{ :value => "Nevermind", :type => "button"}
      %input.button.small#submit-answer{ :value => "Submit Answer", :type => "button"}
      
      


