
.add-answer-editor
  #wysiwyg-control
    %a.basic-control.bold-button{ :name => "bold", :href => "#" }
      %i.fi-bold
    %a.basic-control.underline-button{ :name => "underline" }
      %i.fi-underline
    %a.basic-control.italic-button{ :name => "italic" }
      %i.fi-italic
    %a.advanced-control.text-color-button{ :name => "text-color" }
      %i.fi-text-color
    %a.advanced-control.link-button{ :name => "link" }
      %i.fi-link
    %a.basic-control.unlink-button{ :name => "unlink" }
      %i.fi-unlink
    %a.basic-control.horizontal-rule-button{ :name => "insertHorizontalRule" } 
      %i ---
    %a.advanced-control.unordered-list-button{ :name => "unordered-list" }
      %i.fi-list-bullet
    %a.advanced-control.ordered-list-button{ :name => "ordered-list" }
      %i.fi-list-number
    %a.advanced-control.code-button{ :name => "code" }
      %i <>
  %textarea.hidden-text-area{ :style => "display: none;" }
  .iframe-container#add-answer-iframe-container
    %iframe.richTextField#add-answer-iframe{ :name => "richTextField"}
  .buttons-container
    %input.button.tiny#nevermind{ :value => "Nevermind", :type => "button"}
    %input.button.small#submit-answer{ :value => "Submit Answer", :type => "button"}
      
      


