$color-red: #fa4542;
$color-deep-red: #be0201;
$color-green: #24b296;
$color-green-shadow: #00725b ;
$color-input-grey: #f6f6f6;
$color-stat-label: #e6e6e6;
$color-logo-grey: #666;
$color-yellow: #ffd608;
$color-yellow-alt: #ffe355;
$color-yellow-dark: #ffab55;


$font-paragraph: "News706BT-RomanC",Georgia;
$font-button: "Varela Round", sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-title-backup: 'Source Sans Pro', sans-serif;
$font-title-alt: 'Archivo Narrow', sans-serif;
$font-alt: 'Open Sans Condensed', sans-serif;