$color-red: #fa4542;
$color-deep-red: #be0201;
$color-green: #24b296;
$color-green-shadow: #00725b ;
$color-input-grey: #f6f6f6;
$color-stat-label: #e6e6e6;
$color-logo-grey: #666666;
$color-subtext-grey: #9d9d9c;
$color-yellow: #ffd608;
$color-yellow-alt: #ffe355;
$color-yellow-dark: #ffab55;
$color-blue: #47a2f8;
$color-blue-dark: #1467f1;
$color-blue-hover: #1689f6;


$font-paragraph: "Myriad Pro",Georgia;
$font-button: "Varela Round", sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-title-backup: 'Source Sans Pro', sans-serif;

