.post-title.question-show h1 {
  font-size: 20px;
}

.user-image {
  width: 32px;
  height: 32px;
  background-color: green;
}

.post-signature-user {
  h3 {
    font-size: 12px;
  }
  h2 {
    font-size: 14px;
    font-style: bold;
  }
  ul {
    display: inline-block;
  }

}