@import 'variables';

.buttons-container {
  text-align: right;
  padding-top: 1rem;
}

#add-answer-container {
  background-color: $color-input-grey;
  border: 1px solid $color-stat-label;
  border-radius:4px;
  padding: 0.7rem;
}

#add-answer-input {
  margin-bottom: 0;
}

#submit-answer, #add-answer-btn, #login-btn {
  box-shadow: 0 3px 0 0 $color-blue-dark;
  color: white;
  background-color: $color-blue;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
    // -webkit-font-smoothing: antialiased;
    a {
      color: white;
    }
}

#submit-answer:hover, #add-answer-btn:hover, #login-btn:hover {
  background-color: $color-blue-hover;
}

#submit-answer {
  margin: 0 0 0 1rem;
}

#nevermind {
  box-shadow: 0 3px 0 0 $color-stat-label;
  color: white;
  background-color: white;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  color: $color-logo-grey; 
    // -webkit-font-smoothing: antialiased;
  margin: 0;
}

#nevermind:hover {
  background-color: $color-logo-grey;
  box-shadow: 0 3px 0 0 white;
  color: white;
}

.user-container {
  padding-bottom: 0.5rem;
}

iframe {
  border: 0px;
  border-top-style: none;
}

#add-answer-iframe-container {
  height: 10rem;
}

#add-answer-user-left, #answer-user-left, #question-user-right {
  padding-right: 0;
}

#add-answer-user-right, #answer-user-right, #question-user-right {
  padding-left: 0;    
}

.user-details-snippet-container {
  display: inline-block;
}

#current-user-name, .user-name {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;

  a {
    color: black;
  }

  a:hover {
    text-decoration: underline;
    color: black;
  }
}

.user-signature-actions {
  font-size: 0.75rem;
  color: $color-subtext-grey;
}

.user-profile-image {
  display: inline-block;
  width: 32px;
  height: 100%;

  img {
    border-radius: 3px;
  }
}