@import 'variables';

.buttons-container {
  text-align: right;
}

#add-answer-container {
  background-color: $color-input-grey;
  border: 1px solid $color-stat-label;
  border-radius:4px;
  padding: 0.7rem;
}

#submit-answer, #add-answer-btn, #login-btn {
  box-shadow: 0 3px 0 0 $color-blue-dark;
  color: white;
  background-color: $color-blue;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
    // -webkit-font-smoothing: antialiased;
    a {
      color: white;
    }
}

#submit-answer:hover, #add-answer-btn:hover, #login-btn:hover {
  background-color: $color-blue-hover;
}

#submit-answer {
  margin: 0 0 0 1rem;
}

#nevermind {
  box-shadow: 0 3px 0 0 $color-stat-label;
  color: white;
  background-color: white;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  color: $color-logo-grey; 
    // -webkit-font-smoothing: antialiased;
  margin: 0;
}

#nevermind:hover {
  background-color: $color-logo-grey;
  box-shadow: 0 3px 0 0 white;
  color: white;
}

.add-answer-user {
  padding: 0 0.75rem 0.6rem 0.75rem;
}

iframe {
  border: 0px;
  border-top-style: none;
}

#add-answer-iframe-container {
  height: 10rem;
}

.user-details-snippet {
  ul {
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: black;
  }

  a:hover {
    text-decoration: underline;
    color: black
  }
}

#current-user-name {
  font-size: 1rem;
  font-weight: bold;
}

#current-user-location {
  font-size: 0.8rem;
  color: $color-subtext-grey;
}

.user-profile-image {
  background-color: blue;
  width: 32px;
  height: 32px;
}