/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui

 */
$color-red: #fa4542;
$color-deep-red: #be0201;
$color-green: #24b296;
$color-green-shadow: #00725b ;
$color-input-grey: #f6f6f6;
$color-logo-grey: #666;
$font-paragraph: "News706BT-RomanC",Georgia;
$font-button: "Varela Round", sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-title-backup: 'Source Sans Pro', sans-serif;
$font-title-alt: 'Archivo Narrow', sans-serif;
$font-alt: 'Open Sans Condensed', sans-serif;



html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.button {
  border-radius: 3px;
}

#sub-top-bar {
  height: 80px;
  background-color: $color-input-grey;
}

.heading {
  width: 1000px;
  text-align: right;
  margin: 0 auto;
  max-height: 100%;

  .app-title {
    display: inline-block;
    float: left;
    margin: 1rem 0;
    background-color: $color-logo-grey;
    border-radius: 2px;

    h1 {
      font-size: 1.15rem;
      font-style: bold;
      font-family: $font-title;
      font-weight: 400;
      margin: 0;
      color: white;
      padding: 0.6rem;
    }
  }

  .search-container {
    float: left;
    text-align: left;
    width: 400px;
    max-height: 100%;
    display: inline;
    // margin: 0 0 3rem 0;
  }

  #search-field {
    display: inline-block;
    margin: 0 0 0 1rem;
    width: 220px;
    padding-top: 1.25rem;
    font-size: 1rem;

  }

  .button.ask-question:hover {
    background-color: red;
  }

  .button.ask-question {
    margin: 0.75rem 0 0 0;
    box-shadow: 0 3px 0 0 $color-deep-red;
    color: white;
    background-color: $color-red;
    font-family: $font-button;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    // -webkit-font-smoothing: antialiased;
      a {
        color: white;
      }
  }


}

.post-container.index {
  font-family: $font-title;
}

.post-title {

  h1 {
    font-size: 1.5rem;
    color: $color-logo-grey;
  }
  a:hover {
    color: black;
  }
  a{
    color: $color-logo-grey;
  }
}


div {
  border: 1px solid red;
}

body {
 // font-size: 0;
 width:100%;
}

.top-bar {
 height: 3.5 rem;
}


.name .ga-logo {
  width:200px;
}
