// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.answer-comments-container {
  background-color: green;
  display: none;
}

.question-comments-container {
  display: none;
}