@import "variables";

#sub-top-bar {
  background-color: $color-input-grey;
  height: 5rem;
}

.heading {
  width: 1000px;
  text-align: left;
  margin: 0 auto;
  height: 100%;

  li {
    display: inline-block;
    line-style: none;
  }

  .app-title a {

    color: white;
    margin: 1rem 3rem 0 0;
    background-color: $color-logo-grey;
    border-radius: 3px;
    font-size: 0.9rem;
    font-style: bold;
    font-family: $font-title-backup;
    font-weight: 400;
    color: white;
    padding: 0.75rem;
    
  }


  #search-field {
    width: 20rem;
    font-size: 1rem;
    margin-right: 23rem; 
  }

}