@import 'variables';

#new-question {
  width: 650px;
  margin: 20px auto;

  .editor {
    width: 650px;
  }

  .form.title {
    margin-botton: 10px;
  }

  .form.tags {
    margin: 10px 0 10px 0;
  }

  .button {
    text-align: center;
    box-shadow: 0 3px 0 0 $color-blue-dark;
    color: white;
    background-color: $color-blue; 
  }

  .submit-question:hover {
    background-color: $color-blue-hover;
  }
}





