@import 'variables';

form {
  max-width: 100%;
  margin: 20px 0;
}

#new-question {
  max-width: 100%;
  margin: 0 auto;
}

.form.title {
  margin-botton: 10px;
}

.form.tags {
  margin: 10px 0 10px 0;
}

#wsyiwyg-control {
  margin: 0;

  li {
    display: inline-block;
    line-style: none;
    cursor: pointer;

      i {
        font-size: 1.5rem;
      }
  }
}





