@import "variables";

h1 {
  font-size: 1.5rem;
}

.show-container {
  margin-top: 2rem;
}

.post-content.question {
  display: none;
}

#answer-editor-container {
  display: none;
}

.post-comments-container.question {
  display: none;
}

.post-comments-container.answer {
  display: none;
}



pre code {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;  
}